<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer>
  <div class="container">
    <hr>
    <div class="row">

               <div class="col-md-12 col-sm-12" align="center">
                    <div class="wow fadeInUp footer-copyright" data-wow-delay="1.8s">
                         <p>Copyright &copy; 2020 InnovtEng Tech. Pvt. Ltd.

                    | Design: <a href="#" target="_parent">Manish Kumar Maurya</a></p>
                    </div>
        <span class="wow fadeInUp social-icon" data-wow-delay="2s">

                         <i><a href="https://www.facebook.com" class="fa fa-facebook-square" style="font-size:30px;"></a></i>
                         <i><a href="https://www.twitter.com" class="fa fa-twitter-square" style="font-size:30px;"></a></i>
                         <i><a href="https://www.google.com" class="fa fa-google-plus-square" style="font-size:30px;"></a></i>
                         <i><a href="https://www.instagram.com" class="fa fa-instagram" style="font-size:30px;"></a></i>
                         <i><a href="https://www.linkedin.com" class="fa fa-linkedin-square" style="font-size:30px;"></a></i>
                    </span>
               </div>

    </div>
    <hr>
  </div>
</footer>

