{% load static %}
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px; background-color: #079fba;">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-right: 60%;">
      <a class="navbar-brand" href="{% url 'shop:product_list' %}" style="color: #ffffff">Shopping E-cart</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li class="active"><a href="#">Home</a></li>  -->
        <li>
          {% if request.user.is_authenticated %}
            <a href="#" style="color: #ffffff">{{ request.user.username }}</a></li>
        <li><a href="#" style="color: red">logout</a></li>
          {% else %}
        <li><a href="#" style="color: #ffffff"><span class="glyphicon glyphicon-log-in"></span>  Sign in</a></li>
        <li><a href="#" style="color: #ffffff"><span class="glyphicon glyphicon-user"></span>  Sign up</a></li>
          {% endif %}
       </ul>
   
    </div>
  
</nav>
